@model BookStore.Models.BookModelEntity

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html>
<body>
    @using (Html.BeginForm("AddBook", "Main"))
    {
        <h2>Register</h2><center>

            Book Title: <input type="text" name="Title" id="title" required />
            <br>
            <br>
            Book Author: <input type="text" name="Author" id="author" /> <br>
            <br>
            Location: <input type="text" name="Location" id="location" required />
            <br>
            <br>
            Category: <input type="text" name="Category" id="category" />
            <br> <br>
            Pages: <input type="number" name="Pages" id="pages" />
            <br> <br>
            Tags: <input type="text" name="Tags" id="tags" />
            <br> <br>

            <button type="submit">Save</button>

        </center>
    }

    <br />
    <center> <button onclick="location.href='@Url.Action("Index", "Main")'">Cancel</button></center>

</body>
</html>