@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<body>
    <h2>Main Menu</h2>
    <a href="/Main/Create">Create Book</a><br />
    <a href="/Main/Search">Search Book</a><br />


</body>
</html>